.PaginationBar
    display: flex
    gap: 10px
    max-width: 350px
    margin: auto
    justify-content: center
    margin-top: 30px
    .container
        display: flex
        gap: 10px
    button
        color: #ff39398f 
        border-radius: 50px
        width: 30px
        height: 30px
        border: none
        font-weight: bold
        background-color: #4bcfb9a6
        transition: all 0.2s ease
        display: flex
        justify-content: center
        align-items: center
        img
            width: 10px
    button:hover
        background-color: #01b5c6d5
        color: #464646
    .current
        background-color: peru
        color: white